/PySteamCrawler/src/statsCollector/__init__.py.bak
/PySteamCrawler/src/statsCollector/Collector.py.bak
/tf2statscrawler-bsoup/src/__init__.py.bak
/PySteamCrawler/src/valueCalculator/__init__.py.bak
/tf2statscrawler-bsoup/src/crawler/__init__.py.bak
/PySteamCrawler/src/statsCollectorAppEngine/old/bs_Crawler.py.bak
/tf2statscrawler-bsoup/src/crawler/bs_Crawler.py.bak
/PySteamCrawler/test/calculator.py.bak
/PySteamCrawler/src/statsCollectorAppEngine/Collector.py.bak
/statsCollectorAppEngine/src/Collector.py.bak
/tf2stats_oshift/wsgi/Collector.py.bak
/PySteamCrawler/src/statsCollectorAppEngine/old/Crawler.py.bak
/tf2statscrawler-bsoup/src/crawler/Crawler.py.bak
/PySteamCrawler/src/statsCollectorAppEngine/import_wrapper.py.bak
/statsCollectorAppEngine/src/import_wrapper.py.bak
/statsCollectorAppEngine/src/main.py.bak
/tf2stats_oshift/wsgi/main.py.bak
/PySteamCrawler/test/mytime.py.bak
/tf2statscrawler-bsoup/test/mytime.py.bak
/PySteamCrawler/test/sandbox.py.bak
/tf2statscrawler-bsoup/test/sandbox.py.bak
/tf2statscrawler-bsoup/src/crawler/ScoreContainer.py.bak
/PySteamCrawler/test/testeCooki.py.bak
/PySteamCrawler/src/valueCalculator/ValueCalculator.py.bak
